<!--This is admin page-->
<html>

<head>
  <meta charset="utf=8">
  </meta>
  <!--links for font awesome and external style sheet-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/style.css" rel="stylesheet" type="text/css" />
  <title>Employee Portal</title>
</head>



<body>

  <!-- Header Of each page with social icons at right-->
  <div class="header-container">

    <div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        &#9776;
      </span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>


  </div>

  <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
  <div id="MySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="admin_page">Home </a>

    <a href="getemployees">Get Employees</a>
    <a href="addemployee">Add Employee</a>
    <a href="getleave">Get leaves</a>

    <a href="searchemployee">Search Employee</a>
    <a href="sendmail">Sendmail</a>
    <a href="temp_mail">Send Temprorary Email</a>
    <a href="report">Reports</a>
    <a href="logout">Logout</a>
  </div>

  <div class="main" style="min-height: 280%;">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides" style="display: block;">
        <div class="numbertext">1 / 3</div>
        <img class="main-img1" src="/assets/images/about.jpg">
        <!--add your image here-->
        <div class="text"></div>
      </div>
      <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img class="main-img1" src="/assets/images/about-2.jpg">
        <!--add your image here-->
        <div class="text"></div>
      </div>
      <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img class="main-img1" src="/assets/images/bg_1.jpg">
        <!--add your image here-->
        <div class="text"></div>
      </div>
      <!-- Next and previous buttons -->

    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot active" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="main-container">


      <div>
        <!--This displays main page images which have dots at bottom.on each dot click image changes-->
        <div class="card">
          <img class="main-img2" src="/assets/images/about.jpg" alt="image of jauger" />
          <div class="container">
            It solution is an Indian multinational technology company
            that specializes in Internet-related services and products,
            which include online advertising technologies,
            a search engine, cloud computing, software, and hardware.
            Providing both customized and cost effective solutions, we ensure greater
            productivity and increased efficiency for your business.
          </div>

        </div>
      </div>
      <div>
        <!--next all div contains image with descriptions and work carried in comnapany-->
        <div class="card">
          <img class="main-img2" src="/assets/images/about-1.jpg" alt="image of jauger" />
          <div class="container">
            Artificial intelligence (AI) makes it possible for machines to learn from experience,
            adjust to new inputs and perform human-like tasks. Most AI examples that you hear about
            today – from chess-playing computers to self-driving cars – rely heavily on deep learning and
            natural language processing. Using these technologies, computers can be trained to accomplish
            specific tasks by processing large amounts of data and recognizing patterns in the data.
          </div>

        </div>
      </div>
      <div>
        <div class="card">
          <img class="main-img2" src="/assets/images/about-2.jpg" alt="image of jauger" />
          <div class="container">
            Teamwork leads to learning Every individual has his own set of skills and strengths.
            When the whole team works as one unit, people can always avail opportunities to learn
            from others. This process
            leads to resource building as employees then become better equipped to deal with challenges.
            Teamwork is the collaborative effort of a group to achieve a common goal or to complete a task
            in the most effective and efficient way
          </div>

        </div>
      </div>
      <div>
        <div class="card">
          <img class="main-img2" src="/assets/images/bg_1.jpg" alt="image of jauger" />
          <div class="container">
            Harness the strengths of your enterprise and
            mitigate its challenges with a concrete digital strategy.
            We allow your IT infrastructure to seamlessly interact with clients,
            employees, suppliers, media and management.
            We have rich expertise in architecture designing, deployment, and migration of
            cloud services using best-in-class-technology.
          </div>

        </div>
      </div>
      <div>
        <div class="card">
          <img class="main-img2" src="/assets/images/work-1.jpg" alt="image of jauger" />
          <div class="container">
            Our innovative approach and strategic implementation of services is revenue
            driven and can adapt to your changing business needs. We help in overhauling
            your operational process and have a positive impact on your business’s efficiency.
            We help build better customer relationship management for our clients and drive businesses by providing
            powerful
            digital response systems.
          </div>

        </div>
      </div>
      <div>
        <div class="card">
          <img class="main-img2" src="/assets/images/work-7.jpg" alt="image of jauger" />
          <div class="container">
            Rapid technological advancement and consumer evolution have motivated enterprises
            to transform their
            businesses into a distinct and transparent environment – Digital.
            PC Solutions with its unmatched leadership has set high standards by
            leading many enterprising to a successful digital transformation journey.
            Our globally certified consulting experts will get involved with your business
            to consider the complexities and provide a logical and well-organized approach to
            effectively utilize technology for optimized results.
          </div>

        </div>
      </div>

    </div>
  </div>

  <script>

    var slideIndex = 1;
    showSlides(slideIndex);
    setInterval(showSlides(2), 1000);
    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
    //open the menu bar 
    function openNav() {
      document.getElementById("MySidenav").style.width = "250px";
    }

    //close the side menu bar
    function closeNav() {
      document.getElementById("MySidenav").style.width = "0";

    }



  </script>


</body>

</html>