/
<!--after clicking for forgot password nnd entering correct email we get this template it will help in creating new password for user-->
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <style>
    /*stlesheet */
    body {
      background-color: #cfd9df;
    }

    input {
      height: 40px;
      width: 60%;

    }
  </style>

  <!-- Header Of each page with social icons at right-->
  <div class="header-container">

    <div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        &#9776;
      </span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>


  </div>

  <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
  <div id="MySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="main">Home </a>
    <a href="profile">Profile </a>
    <a href="applyleave">Apply Leave</a>

    <a href="#">Settings</a>
    <a href="contact">Contact</a>
    <a href="logout">Logout</a>
  </div>

  <div class="main">
    <div class="resetpassword-body">

      <!--form for new password and submitting-->
      <form method="post" id="passform" action="created">
        <b> Create new password for your email <%=data.email%></b><br></br>
        <input name="email" value="<%=data.email%>" style="display:none"><br></br>
        <b>Create Password:</b><input name="password" id="password" type="password"><b style=color:red>
          <pass></pass>
        </b><br><br>
        <b>Confirm Password:</b><input name="confirmpassword" id="confirmpassword" type="password"><br><br></br>
        <button class="signup-button" onclick="return confirmpass()" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <script>
    //check if password and confirm password match criterias
    function confirmpass() {

      let passid = document.getElementById("password").value;
      let confpassid = document.getElementById("confirmpassword").value;
      var pass = document.getElementsByTagName("pass");
      return passid_validation(passid, confpassid, 7, 12);

    }
    /*checks whether password and confirm password satisf crieria for strong passord
    it will also make sure both passwords are equal
    */
    function passid_validation(passid, confpassid, mx, my) {
      var passid_len = passid.length;
      var passi = document.getElementsByTagName("pass");
      if (passid_len == 0 || passid_len >= my || passid_len < mx) {
        passi[0].innerHTML = "&#42passsword must contain 7 to 12 character only";
        return false;
      }
      else {

        if (confpassid != passid) {

          passi[0].innerHTML = "&#42 password did not match";
          return false
        }
        passi[0].innerHTML = "";
        return true;
      }
      passi[0].innerHTML = "";
      return true;
    }


  </script>
</body>

</html>