<!--otp will be sent to the user after validating email to reset password-->

<html>
<head>
     <!--links for font awesome and external style sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <style>
      /*internal style sheet*/
        body{
            background-color: #cfd9df ;
        }

  
        input{
            height:40px;
            width:60%;

        }
      
        .input1{
            display: none;
border: 0px;
    }
    </style>
 <!-- Header Of each page with social icons at right-->
<div class="header-container">

    <div >
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        &#9776;
      </span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>

    
  </div>
      <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
  
<div id="MySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="main">Home </a>
    <a  href="profile">Profile </a>  
      <a  href="applyleave">Apply Leave</a>  
     
      <a href="#">Settings</a>
      <a href="contact">Contact</a>
      <a href="logout">Logout</a>       
   </div>
   <div class="main">
<!--enetring correct otp.if otp is set will be taken to creatr new password-->
    <div class="resetpassword-body">
        <form id="otpform" method="POST" action="createpassword">
         <b> An OTP has been sent to your email <%=data.email%><input class="input1" type="text" name="email" value="<%=data.email%>" readonly></b> <br><br>
           <b > Enter OTP:</b><br><input type="text" id="otp" name="otp"><br><br>
            <button  class="signup-button" onclick=" checkotp()" type="submit">Enter</button>
        </form>
    </div>
    
    
    
    
  </div>
<script>
    //check if correct otp is entered

    function checkotp(){
let otp_value=document.getElementById("otp").value;
if("<%=b%>"!=otp_value){
let otp_form=document.getElementById("otpform");
otp_form.setAttribute("action","unsucess");
}
    }
/*open side menu bar*/
    function openNav() {
  document.getElementById("MySidenav").style.width = "250px";
}
/*close side menu bar*/
function closeNav() {
  document.getElementById("MySidenav").style.width = "0";
}    
</script>

</body>

</html>