<!--This template send mail to employees registered in an organization.-->
<html>

<head>
    <!--links for font awesome and external style sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <style>
        /*internal style sheet*/
        table,
        th,
        tr,
        td {
            border-collapse: collapse;
            border: 2px solid black
        }

        table {

            position: relative;
            left: 40%;

        }
    </style>

    <!-- Header Of each page with social icons at right-->
    <div class="header-container">

        <div>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">
                &#9776;
            </span>
            <div class="social-icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>


    </div>


    <!--Side menu bar which opens and closes on click .on opening it contains following sidebars-->
    <div id="MySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="admin_page">Home </a>

        <a href="getemployees">Get Employees</a>
        <a href="addemployee">Add Employee</a>
        <a href="getleave">Get leaves</a>
        <a href="searchemployee">Search Employee</a>
        <a href="temp_mail">Send Temprorary Email</a>
        <a href="report">Reports</a>
        <a href="sendmail">Sendmail</a>

        <a href="logout">Logout</a>
    </div>

    <!--this form element displayes employees in database.
it has checkbox before each email and textarea at the bottom.
admin can check box the employees to send mail and can enter description in textarea bottom.
after submiiting form will send mail to employees whose email is checked
-->
    <div class="main ">
        <b style="text-align:center;font-size: 2em;"> Recorded Reports</b></br></br>
        <div class="k" id="employee-data">

            <table style="text-align:center">


                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Issue
                    </th>


                </tr>

                <!--for loop in ejs to display all data processed from database-->
                <%for(var i=0;i<data.length;i++){%>
                <tr>

                    <td>
                        <%=data[i].email%>
                    </td>
                    <td>
                        <%=data[i].issue%>
                    </td>


                </tr>

                <%}%>
            
        </table>
    </div>

  
<div id="no-data">
    <b style="text-align:center;font-size: 2em;"> Currently there are no reports</b></br></br>
</div>

</div>
    <script>
        var nodata = document.getElementById("no-data");
        var employee_data = document.getElementById("employee-data");
        /*function to close nav*/
        function openNav() {
            document.getElementById("MySidenav").style.width = "250px";
        }
        /*function to open nav*/

        function closeNav() {
            document.getElementById("MySidenav").style.width = "0";
        }
        if ("<%=length%>" == 0) {
            nodata.style.display = "block";
            employee_data.style.display = "none"


        }
        else {
            employee_data.style.display = "block"
            nodata.style.display = "none";
        }
    </script>
</body>

</html>